
/* ------------------------------------------ button-property ------------------------------------------ */
.new-button{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    height: 50px;
}

.new-button:hover{
    cursor: default !important;
}

/* ------------------------------------------ header ------------------------------------------ */
header{
    padding: 24px 0px;
    z-index: 1;
}

header ul li a{
    color: #475677;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

header nav ul li:nth-last-child(2) img{
    margin-right: 5px;
}

header nav ul li:nth-last-child(1) a{
    color: #FFFFFF;
    background-color: #00B592;
    border-radius: 18px;
}

/* header nav ul li a:hover{
    border-bottom: 1px solid #00B592;
} */

/* ------------------------------------------ section 1 ------------------------------------------ */

.banner{
    background:  linear-gradient(89deg, #001550 0%, #001550A6 47%, #00155073 100%), url('../images/sect1bg.png');
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 108px;
}

.banner .container h1{
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}

.banner .container h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    color: #FFBE58;
}

.banner .container p{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4E9FF;
    margin-top: 38px;
}

.banner .new-button{
    margin-top: 40px;
}

.banner .container button:hover{
    background-color: #FFFFFF;
    color: black;
}

/* ------------------------------------------ section 2 ------------------------------------------ */

.activities{
    padding: 150px 0px 152px;
}

.activities .container .row .col > div{
    border: 1px solid #475677;
    border-radius: 15px;
    height: 100%;
}

.activities .container .row .col:nth-last-child(1) > div{
    background-color: #FFBE58;
}

.activities .container .row div:nth-last-child(1) i{
    margin-top: 30px;
}

.inner-activities-tag{
    font-family: 'Poppins', sans-serif; 
    font-weight: 500;
    font-size: 16px;
    margin-top: 15px;
    color: #475677;
    line-height: 26px;
}

/* .activities .container .row .col:nth-last-child(1) .inner-activities-tag:nth-child(1){
    font-size: 23px;
    line-height: 26px;
} */

/* ------------------------------------------ section 3 ------------------------------------------ */

.courses{
    padding-bottom: 190px;
}

.courses .container > div{
    margin-bottom: 77px;
}

.inner-courses-cards .card{
    border: 1px solid rgba(71, 86, 119, 0.2);
    border-radius: 15px;
}

.inner-courses-cards .card:nth-child(2){
    margin: 0px 30px;
}

.inner-courses-heading{
    margin-right: 0px;
}

.courses .new-button{
    border: 1px solid #475677;
    color: #475677;
}

.courses .new-button:hover{
    background-color: #475677;
    color: #FFFFFF;
}

.courses-ratings-icons{
    color: #FFBE58;
}

.image-hover{
    display: none;
    background-color: #00B592;
    height: 100%;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    opacity: 90%;
    top: 0;
}

.inner-courses-cards .card:hover .image-hover{
    display: block;
    cursor: pointer;
}

.image-hover div:nth-child(1){
    height: 68px;
    width: 68px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
    margin-top: 25%;
    margin-left: 40%;
}

.image-hover div:nth-child(1)::before{
    position: absolute;
    content: "";
	border-top: 13px solid transparent;
	border-left: 26px solid #FFFFFF;
    border-bottom: 13px solid transparent;
    left: 35%;
    top: 30%;
}

.image-hover div:nth-child(2) p{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
}

/* ------------------------------------------ section 4 ------------------------------------------ */

/* .facilities{
    background:  url('../images/headphoneboy.png');
    background-size: cover;
    height: 848px;
    background-repeat: no-repeat;
    background-size: 50% 100%;
} */

.facilities{
    position: relative;
}
.facilities:before{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;    
    bottom: 0;
    width: 50%;
    background: url('../images/headphoneboy.png') top center no-repeat;
    background-size: cover;
}

.facilities .row{
    width: 100%;
}

.facilities .container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
}

/* .facilities .container .row > div{
    padding: 125px 0;
} */

.facilities .container > div{
    flex-direction: column;
    padding: 60px 0px 60px 41px;
}

.facilities .row ul{
    margin-left: 46px;
}

.facilities h4{
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 38px;
    color: #475677;
    line-height: 38px;
}

.facilities h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 300;
    font-size: 72px;
    color: #475677;
    line-height: 90px;
}

.facilities .row div p{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    color: #7D8597;
    line-height: 26px;
    margin: 38px auto 46px;
}

.facilities .facilities-checks i{
    font-size: 20px; 
    color: #2680EB;
    margin-right: 40px;
}

.facilities .facilities-checks span{
    font-family: 'Poppins', sans-serif; 
    font-weight: 600;
    font-size: 20px;
    color: #475677;
    line-height: 56px;
}

/* ------------------------------------------ section 5 ------------------------------------------ */

.achievements{
    padding: 106px 0px 102px;
    background-color: #EFF7FF;
}

.achievements .container h1{
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #475677;
    margin-bottom: 22px;
}

.achievements .container h1 + p {
    margin-bottom: 62px;
}

.achievements .container p{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D8597;
}

.achievements .container .row h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
}

.achievements .blue{  
    color: #2680EB;
}

.achievements .green{
    color: #00B592;
}

.achievements .yellow{
    color: #FFBE58;
}

.achievements .red{
    color: #E0474E;
}

/* ------------------------------------------ monitor section ------------------------------------------ */
.monitor{
    padding: 150px 0px 140px;
    box-shadow: 0px 0px 50px #0700001A;
}

.monitor .modal-content iframe{
    margin: 0 auto;
    display: block;
}

.monitor .modal-body {
    position: relative;
    padding: 0px;
}

.monitor .show{
    padding-right: 0px;
}

.monitor .close{
    position:absolute;
    right: 2%;
    top: 2%;
    font-size: 2rem;
    font-weight: lighter;
    color: #FFFFFF;
    opacity: 1;
}

.modal-body button{
    z-index: 1;
}

/* ------------------------------------------ feedback section------------------------------------------ */
.feedback{
    background: transparent url('../images/mountains.png') 0% 0% no-repeat;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feedback{
    padding: 64px 0px 48px;
}

.light-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #475677;
    font-size: 38px;
    line-height: 60px;
    font-weight: 300;
}

.bold-heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #475677;
    font-size: 38px;
    line-height: 60px;
    font-weight: 700;
}

.inner-feedback-heading{
    margin-right: 0px;
}

.inner-feedback-heading .new-button{
    border: 1px solid #475677;
    color: #475677;
    /* opacity: 50%; */
}

.inner-feedback-heading button:hover{
    background-color: #475677;
    color: #FFFFFF;
    /* opacity: 50%; */
}

.inner-feedback-content{
    margin: 66px 0px 152px;
}

.inner-feedback-content .card{
    background-color: #FFFFFF;
    opacity: 70%;
}

.inner-feedback-content .info{
    position: relative;
    margin: 94px 0px 34px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    color: #7D8597;
    font-size: 15px;
    line-height: 26px;
}

.inner-feedback-content .info::before{
    position: absolute;
    content: url('../images/double_quotes.svg');
    top: -40%;
    left: 0;
    right: 0;
}

.inner-feedback-content .card-body img{
    margin-bottom: 13px;
}

.inner-feedback-content .card-body h5{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #293B5F;
    font-size: 18px;
    line-height: 26px;
}

.inner-feedback-content .card-body h6{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #707D97;
    font-size: 13px;
    line-height: 28px;
}

.inner-feedback-bottom .light-heading, .inner-feedback-bottom .bold-heading{
    color: #FFFFFF;
}

.inner-feedback-bottom .new-button{
    color: #FFFFFF;
    background-color: #00B592; 
    border: 1px solid #00B592;
}

/* ------------------------------------------ carousel section ------------------------------------------ */
/* .custom-carousel{
    background: transparent linear-gradient(179deg, #FFFFFF00 0%, #00002A 100%) 0% 0% no-repeat padding-box;
    width: 100px;
    height: 50px;
} */

.carousel-controls a:nth-child(1) img{
    transform: matrix(-1, 0, 0, -1, 0, 0);
    margin-right: 26px;
}

.carousel-inner .carousel-item div{
    border-radius: 10px;
}

.carousel-item .instructor-details h6{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

.carousel-section .carousel-item{
    min-width: 270px;
}

.instructor-details{
    margin: 0px 20px;
}

.carousel-item .instructor-details p{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #BFBFBF;
}

.instructor-details div:nth-child(2) p{
    font-size: 18px;
    color: #FFBE58;
}

/* ------------------------------------------ services section ------------------------------------------ */

.services{
    padding: 120px 0px;
}

.services .first{
    margin-bottom: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #334565;
}

.services .services-fonts li a{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 34px;
    color: #7D8597;
}

.mybutton{
    background-color: #334565;
    border-radius: 6px;
    height: 50px;
    padding-left: 31px;
}

.mybutton span{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.mybutton i{
    font-size: 30px;
    margin-right: 12px;
}

/* ------------------------------------------ footer ------------------------------------------ */

footer{
    height: 72px;
    border-top: 1px solid rgba(51, 69, 101, 0.1);
}

footer .container span{
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D8597;
}

footer .container a i{
    color: #166BFF;
}