/* font-family: 'Rubik', sans-serif; Regular 400*/
/* font-family: 'Poppins', sans-serif; Semibold 600 ; bold 700; Regular 400; light 300; medium 500*/

/* ------------------------------------------ header ------------------------------------------ */
header{
    position: fixed;
    width: 100%;
    z-index: 1;
}

header ul li a{
    color: #475677;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 15px;display: -ms-flexbox;
    line-height: 18px;
}

header nav ul li:nth-last-child(2) img{
    margin-right: 5px;
}

header nav ul li:nth-last-child(1) a{
    color: #FFFFFF;
    background-color: #00B592;
    border-radius: 18px;
}

/* header nav ul li a:hover{
    border-bottom: 1px solid #00B592;
} */

/* ------------------------------------------ section 1 ------------------------------------------ */

.banner{
    background:  linear-gradient(89deg, #001550 0%, #001550A6 47%, #00155073 100%), url('../images/sect1bg.png');
    background-size: cover;
    height: 900px;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 60px;
}

.banner .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.banner .container h1{
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #FFFFFF;
}

.banner .container h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 48px;
    line-height: 70px;
    color: #FFBE58;
}

.banner .container p{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #E4E9FF;
    margin-top: 38px;
}

.banner .container button{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid #FFFFFF;
    margin-top: 40px;
}

.banner .container button:hover{
    background-color: #FFFFFF;
    color: black;
}

/* ------------------------------------------ section 2 ------------------------------------------ */

.activities{
    padding: 150px 0px 152px;
}

.activities .container .row .col{
    border: 1px solid #475677;
    border-radius: 15px;
}

.activities .container .row .col img{
    margin: 38px 0px 15px;
}

.activities .container .row .col:nth-last-child(1){
    background-color: #FFBE58;
}

/* ------------------------------------------ section 3 ------------------------------------------ */

.courses{

}

/* ------------------------------------------ section 4 ------------------------------------------ */

.facilities{
    
}

/* ------------------------------------------ section 5 ------------------------------------------ */

.achievements{
    padding: 106px 0px 102px;
    background-color: #EFF7FF;
}

.achievements .container h1{
    font-family: 'Poppins', sans-serif; 
    font-weight: 700;
    font-size: 48px;
    line-height: 60px;
    color: #475677;
    margin-bottom: 22px;
}

.achievements .container p{
    font-family: 'Rubik', sans-serif; 
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D8597;
    margin-bottom: 62px;
}

.achievements .container .row .blue h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #2680EB;
}

.achievements .container .row .green h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #00B592;
}

.achievements .container .row .yellow h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #FFBE58;
}

.achievements .container .row .red h2{
    font-family: 'Poppins', sans-serif; 
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #E0474E;
}

/* ------------------------------------------ section 6 ------------------------------------------ */

.monitor{
    padding: 150px 0px 140px;
    
    background: transparent url('img/video-mockup.png') 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 50px #0700001A;
    /* background-color: red; */
}


/* ------------------------------------------ section 7 ------------------------------------------ */

.feedback{
    padding: 64px 0px 410px;
    background-image: url('../images/mountains.png');
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    /* background: transparent linear-gradient(89deg, #001550 0%, #001550A6 47%, #00155073 100%) 0% 0% no-repeat padding-box; */
    opacity: 1;
}

/* ------------------------------------------ section 8 ------------------------------------------ */

.services{
    /* padding: 120px 0px; */
}

.services .container .first{
    margin-bottom: 28px;
}

/* ------------------------------------------ footer ------------------------------------------ */

footer{
    height: 72px;
}

footer .container{
    display: flex;
    align-items: center;
    height: 100%;
}

.btn-block{
    background-color: #334565;
    border-radius: 6px;
    opacity: 1;
}